<!DOCTYPE html>
<html>
   <head> 
    <title>Flask App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>hello {{ user_name }}</h1>

    <ul>
        {% for fruit in fruits %}
            <li>{{ fruit|capitalize }}</li>
        {% endfor %}


        {%if is_admin%}
        <p>user is an admin</p></p>
        {%else%}
        <p>user is not an admin</p>
        {%endif%}
    </ul>


    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/whereami">Where Am I?</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</body>
</html>